/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=DM+Mono:wght@400;500&display=swap');

$primary: #B02102;
$link-color: #B02102;
$font-family-sans-serif: "DM Sans", sans-serif;
$font-family-monospace: "DM Mono", monospace;
$navbar-bg: #FFFFFF;
$navbar-fg: #1F1F24;
